# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/

# Build
dist/
web-dist/
/npm-debug.log

# Configuration
persistentData/
server/utilities/version.js

# Tiled
*.tiled-project
*.tiled-session

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
package-lock.json
