/* latin-ext */
@font-face {
  font-family: 'Stalemate';
  font-style: normal;
  font-weight: 400;
  src: url(./src/assets/fonts/stalemate.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Stalemate';
  font-style: normal;
  font-weight: 400;
  src: url(./src/assets/fonts/stalemate.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Short Stack';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./src/assets/fonts/shortstack.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Short Stack', serif;
}

h1,
h2,
h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

div .intro-screen-subsection {
  margin-left: 10px;
}

.spell-selector {
  text-transform: capitalize;
}

#pre_game_div {
  margin: 10px;
}

#command_input_div,
#upper_left_text_overlay_div,
#scrolling_text_overlay_div,
#center_text_overlay_div,
#fading_text_overlay_div,
#player_tag,
#coordinates_text_overlay_div,
.other_player_tag {
  position: absolute;
}

#command_input_div {
  margin-left: 15px;
  background: white;
  color: black;
  z-index: 1;
}

#command_input_caret {
  margin-right: 5px;
}

#command_input {
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  flex: 2;
  border: none;
}

#upper_left_text_overlay_div {
  top: 5%;
  /*Leave room for the command box above it when open.*/
  margin-left: 10px;
  font-family: 'PT Serif', serif;
}

#scrolling_text_overlay_div {
  top: 15%;
  /*Leave room for the command box and upper_left_text above it when open.*/
  margin-left: 10px;
  font-family: 'PT Serif', serif;
  border: solid black;
  padding: 5px;
  max-height: 75%;
  overflow-x: auto;
}

#center_text_overlay_div {
  font-family: 'PT Serif', serif;
  text-shadow: 2px 2px 2px #4a430b;
}

#coordinates_text_overlay_div {
  text-align: right;
  color: white;
  font-family: 'PT Serif', serif;
  text-shadow: 2px 2px 2px #4a430b;
}

#fading_text_overlay_div {
  font-family: 'PT Serif', serif;
  text-shadow: 2px 2px 2px #4a430b;
  border-radius: 32px;
  padding-right: 25px;
  padding-left: 25px;
  text-align: center;
  transition: 1.5s opacity, 1.5s visibility;
  opacity: 1;
}

#fading_text_overlay_div.fade {
  opacity: 0;
  visibility: hidden;
}

.logo-text {
  color: #1a885b;
  text-align: center;
  font-size: 12em;
  margin-top: 2px;
  margin-bottom: -119px;
  font-family: 'Stalemate', cursive;
}

@media (max-width: 600px) {
  .logo-text {
    margin-bottom: 0;
    font-size: 30vw;
  }
}

.logo-rainbow-bar {
  text-align: center;
}

.logo-rainbow-bar img {
  max-width: 100%;
}

#player_tag {
  flex: 2;
  color: red;
  font-weight: bold;
  z-index: 1;
}

@media only screen and (max-device-width: 768px) {
  #player_tag {
    font-size: 10px;
  }
}

/*Key map keyboard*/

:root {
  --green: #a2ccb6;
  --yellow: #fceeb5;
  --peach: #ee786e;
  --off-white: #fffff4;
}

.keyboard {
  margin-top: 15px;
  font-family: Arial, serif;
  width: 780px;
  height: 262px;
  border: 3px solid #000000;
  border-radius: 10px;
  background: #000000;
}

@media (max-width: 830px) {
  .key_map {
    display: none;
  }
}

.keyboard span {
  display: block;
  margin-top: -5px;
}

.keyboard .row {
  margin-top: 2px;
  overflow: hidden;
}

.key {
  width: 50px;
  height: 50px;
  float: left;
  cursor: pointer;
  background-color: var(--off-white);
  color: #000000;
  line-height: 24px;
  text-align: center;
  margin-left: 2px;
  border-radius: 4px;
}

.keyboard .description {
  color: blue;
  font-size: 12px;
}

.key__symbols {
  line-height: 28px;
}

.key__backspace {
  width: 100px;
}

.key__oneandhalf {
  width: 75px;
}

.key__esc {
  background: var(--peach);
}

.key__enter {
  width: 112px;
}

.key__caps {
  width: 90px;
}

.key__shift-left {
  width: 100px;
}

.key__spacebar {
  width: 300px;
  line-height: 52px;
}

.key__bottom-funct {
  width: 70px;
}

.key__arrow {
  background: var(--green);
  line-height: 17px;
}

.feather {
  margin-top: 10px;
}

#joystick_container {
  position: absolute;
  bottom: 0;
  border-radius: 0 119px 0 0;
  /*border: 5px solid #635d5d42;*/
  /*border-bottom-style: none;*/
  /*border-left-style: none;*/
  height: 50%;
  width: 50%;
  touch-action: none;
}

#second_stick_container {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0 119px 0 0;
  /*border: 5px solid #635d5d42;*/
  /*border-bottom-style: none;*/
  /*border-left-style: none;*/
  height: 50%;
  width: 50%;
  touch-action: none;
}

/*Health bar for players*/
.w3-round-small {
  border-radius: 2px;
}

.w3-round {
  border-radius: 4px;
}

.w3-light-grey,
.w3-light-gray {
  color: #000 !important;
  background-color: #000000 !important;
}

.w3-blue {
  color: #fff !important;
  /*background-color: #2196f3 !important;*/
}

.w3-blue-grey,
.w3-blue-gray {
  color: #fff !important;
  background-color: #607d8b !important;
}

/*https://stackoverflow.com/a/19461564/4982408*/
.middle-of-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*https://github.com/yoannmoinet/nipplejs/issues/185#issuecomment-1162933831*/
/*This doesn't work on iOS, but we tried.*/
.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

#loading_text {
  font-size: 2em;
  font-family: 'Short Stack', serif;
}