body {
  margin: 0;
  padding: 0;
}

/*Allow body to fill browser window, so that joystick can be used BELOW game canvas.*/
html, body {
  margin: 0;
  height: 100%;
}

h1, h2, h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

div .intro-screen-subsection {
  margin-left: 10px;
}

.spell-selector {
  text-transform: capitalize;
}

#pre_game_div {
  margin-left: 10px;
  margin-bottom: 25px;
}

#command_input_div, #upper_left_text_overlay_div, #scrolling_text_overlay_div, #center_text_overlay_div, #player_tag, .other_player_tag {
  position: absolute;
}

#command_input_div {
  background: white;
  color: black;
  z-index: 1;
}

#command_input_caret {
  margin-right: 5px;
}

#command_input {
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  flex: 2;
  border: none;
}

#upper_left_text_overlay_div {
  top: 5%; /*Leave room for the command box above it when open.*/
  margin-left: 10px;
  font-family: 'PT Serif', serif;
}

#scrolling_text_overlay_div {
  top: 15%; /*Leave room for the command box and upper_left_text above it when open.*/
  margin-left: 10px;
  font-family: 'PT Serif', serif;
  border: solid black;
  padding: 5px;
  max-height: 75%;
  overflow-x: auto;
}


#center_text_overlay_div {
  font-family: 'PT Serif', serif;
}

/*For Twitter emoji*/
/*https://github.com/twitter/twemoji*/
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.logo-text {
  color: #1a885b;
  text-align: center;
  font-size: 12em;
  margin-top: 2px;
  margin-bottom: -119px;
  font-family: 'Stalemate', cursive;
}

.logo-rainbow-bar {
  text-align: center;
}

#you_died {
  color: red;
  font-size: 3em;
}

#player_tag {
  flex: 2;
  color: red;
  font-weight: bold;
  z-index: 1;
}

@media only screen and (max-device-width: 768px) {
  #player_tag {
    font-size: 10px;
  }
}

/*Key map keyboard*/

:root {
  --green: #A2CCB6;
  --yellow: #FCEEB5;
  --peach: #EE786E;
  --off-white: #FFFFF4;
}

.keyboard {
  margin-top: 15px;
  font-family: Arial, serif;
  width: 780px;
  height: 262px;
  border: 3px solid #000000;
  border-radius: 10px;
  background: #000000;
}

.keyboard span {
  display: block;
  margin-top: -5px;
}

.keyboard .row {
  margin-top: 2px;
  overflow: hidden;
}

.key {
  width: 50px;
  height: 50px;
  float: left;
  cursor: pointer;
  background-color: var(--off-white);
  color: #000000;
  line-height: 24px;
  text-align: center;
  margin-left: 2px;
  border-radius: 4px;
}

.keyboard .description {
  color: blue;
  font-size: 12px;
}

.key__symbols {
  line-height: 28px;
}

.key__backspace {
  width: 100px;
}

.key__oneandhalf {
  width: 75px;
}

.key__esc {
  background: var(--peach);
}

.key__enter {
  width: 112px;
}

.key__caps {
  width: 90px;
}

.key__shift-left {
  width: 100px;
}

.key__spacebar {
  width: 300px;
  line-height: 52px;
}

.key__bottom-funct {
  width: 70px;
}

.key__arrow {
  background: var(--green);
  line-height: 17px;
}

.feather {
  margin-top: 10px;
}