body {
  background: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#command_input_div, #upper_left_text_overlay_div, #scrolling_text_overlay_div, #center_text_overlay_div {
  position: absolute;
}

#command_input_div {
  background: white;
  color: black;
  z-index: 1;
  display: none;
}

#command_input_caret {
  margin-right: 5px;
}

#command_input {
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  flex: 2;
  border: none;
}

#upper_left_text_overlay_div {
  top: 5%; /*Leave room for the command box above it when open.*/
  margin-left: 10px;
  font-family: 'PT Serif', serif;
}

#scrolling_text_overlay_div {
  top: 15%; /*Leave room for the command box and upper_left_text above it when open.*/
  margin-left: 10px;
  font-family: 'PT Serif', serif;
  border: solid black;
  padding: 5px;
}


#center_text_overlay_div {
  font-family: 'PT Serif', serif;
}